body {
    margin: 0 auto;
    background: #1a1b1c;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#whole{
    margin: 50px 0px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

#header--section{
    background: #7C3AED;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#input{
    align-self: center;
    width: 117px;
    height: 85px;
    font-size: 58px;
    text-align: center;
    border-radius:3px;
    border-style: none;
    background-color: #7C3AED;
    font-weight: 800;
    border: 2px solid white;
    color: white;
}

#input::-moz-placeholder{
    color: white;

    
}

#convert-btn{
    align-self: center;
    margin: 25px 0;
    width: 118px;
    height: 42px;
}

#body-section{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.body-section__content{
    background-color: #273549;
    width: 80%;
    border-radius: 4.68px 0px 0px 0px;
    text-align: center;
    margin: 21px 25px;
    padding-top: 31px;
    padding-bottom: 18px;
    
}

.body-header{
    color: #CCC1FF;

}


